.minha-foto{
    width: 300px;
    height: 300px;
    float: right;
	box-shadow: 10px 10px 30px 0 #000;
    margin: 10px;
}

.git-symbol{
    height: 150px;
    transition: 500ms;
    padding: 0 0 50px 0;
    margin: 0 0 0 50px;
}
.html-symbol, .css-symbol, .js-symbol{
    height: 250px;
    margin: 0 50px 0;
    transition: 500ms
}
.html-symbol:hover, .css-symbol:hover, .js-symbol:hover, .git-symbol:hover{
    transform: scale(1.08);
}


@media screen and (max-width:480px){
    .minha-foto{
        float: none;
    }

    .minha-foto, .html-symbol, .css-symbol, .js-symbol, .git-symbol{
        display: flex;
        margin: 0 auto;
        
    }
}