body{
    font-family: 'Ubuntu', sans-serif;
}

strong{
    font-weight: bold;
}

/*estilos cabeçalho*/
header{
    background-color: #051B37;
    height: 100px;
}

.topo{
    margin: 0 auto;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}

.logo {
    width: 100px;
}

.nav-bar{
    margin: 0 10px 0 0;
}
.nav-bar ul{
    width: 100%;
    display: flex;
    justify-content: flex-end;
}
.nav-bar li{
    margin: 0 0 0 15px;
}
.nav-bar a{
    text-decoration: none;
    color: #fff;
    font-weight: bold;
    font-size: 23px;
}
.nav-bar a:hover{
    
    text-decoration: underline;
}


/*estilos gerais do main*/

main{
    background: #fefefe;
    width: 50%;
    margin: 0 auto;

}

main h1{
    font-size: 30px;
    font-weight: bold;
    padding: 20px;
}

main h2{
    font-size: 25px;
    font-weight: bold;
    padding: 20px;
}


main p{
    font-size: 18px;
    padding: 20px 30px;
}


/*estilos rodapé*/
footer{
    background: #021125;
    color: #fff;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    padding: 15px 0;
}

.footer-mapa li{
    margin: 15px;
}

.footer-mapa a{
    color: #fff;
    text-decoration: none;
    font-size: 15px;
}

.footer-icon{
    height: 40px;
    display: block;
    margin: 0 0 10px 0;
}


@media screen and (max-width:480px){
    main{
        width: auto;
    }
}